<!DOCTYPE html>
<html lang="en">
<head>
    <title>GridLock</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/information.css">
</head>
<body>
<header>
    <h1>GridLock - A Number Game</h1>
</header>
<main>
    <section>
        <h2>Basics</h2>
        <ul>
            <li>There are mainly three types of pieces:</li>
            <ul>
                <li>Number Piece: it contains a random number from 1 to 9</li>
                <li>Operator Piece: it contains a random operator from '+' and '-'</li>
                <li>Current Piece: this piece is the piece you will control in the game</li>
            </ul>
        </ul>
    </section>
    <section>
        <h2>How it works</h2>
        <p>You will control the Current Piece by pressing your arrow keys. If you press the left arrow key, the current piece moves to the left. Other arrows also make the current piece move to each direction.</p>
        <p>If you step on the plus operator piece, the attribute of the current piece becomes plus. It will also be the same with minus. If you step on the number piece, if the attribute of the current piece is plus, you add the number to the number written in the current piece. It will also be the same with minus.</p>
    </section>
    <section>
        <h2>Objective</h2>
        <p>You will have to make the number written in the current piece to 0 as fast as you can. If you cannot move from that place, you are out. Be careful!!</p>
    </section>
</main>
<footer>
    <p>&copy; 2023 GridLock Game. All rights reserved.</p>
</footer>
</body>
</html>