<!DOCTYPE html>
<html lang="en">
<head>
    <title>GridLock</title>
</head>
<body>
<h1>Authentication</h1>
<form method="post" action="/developer">
    <p>Password</p>
    <label>
        <input required type="password" name="pass">
    </label>
    <input type="submit" value="submit">
</form>
</body>
<div id="form-container">
    <form action="/">
        <input type="submit" value="Go Back to lobby">
    </form>
</div>
</html>