<!DOCTYPE html>
<html lang="en">
<head>
    <title>GridLock</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<h1>GridLock</h1>
<div align="center" class="container">
    <button onclick="location.href='/singleplayer'">Single Player</button>
    <button onclick="location.href='/privategame'">Private Game</button>
    <button onclick="location.href='/publicgame'">Public Game</button><br>
    <button onclick="location.href='/help'">Information</button>
    <button onclick="location.href='/contact'">Contact Us</button>
</div>
</body>
</html>