<!DOCTYPE html>
<html lang="en">
<head>
    <title>GridLock</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<h1>GridLock</h1>
<h2>Public Game</h2>
<form method="post" action="/matching">
    <p>Player Name</p>
    <label>
        <input required type="text" name="name">
    </label>
    <input type="submit" value="Start Matching">
</form>
<div id="form-container">
    <form action="/">
        <input type="submit" value="Go Back to lobby">
    </form>
</div>
</body>
</html>