<!DOCTYPE html>
<html lang="en">
<head>
    <title>GridLock</title>
</head>
<body>
<h1>An Error Occurred</h1>
<form action="/">
    <input type="submit" value="go back to lobby" src="/">
</form>
</body>
</html>